{% extends "base_generic.html" %}

{%load static%}
<br>
<body background="../static/img/Fondo1.jpg">
    {%block content%}


               
        <style>
            body {
               
                font-family: Arial;
                
              }
        
            input {
                float: left ;
                width: 200px;
                margin-bottom: 10px;
            }
        
            label {
                color: white;
                clear: both;
                float: left ;
                width: 180px;
            }
        
            button {
                clear: both;
                float: left;
                width: 60px;
            }
        
            .error-control {
                border: 1px solid red;
            }
        
            label.error {
                color: red;
                width: 300px;
                font-size: 0.8em;
                margin-top: -5px;
                margin-bottom: 10px;
            }
            
        
        
          </style>
         
          <script>
    
              $(function() 
              {
                $("#mi-formulario").validate({
                     rules: {
                            email: {
                                required: true,
                                email: true
                            },
                            fono: "required",
                            fecha: "required",
                        }, //rules
                    messages: {
                        email: {
                            required: 'Ingresa tu correo electrónico',
                            email: 'Formato de correo no válido'
                        },
                        Nombre: {
                            required: 'Ingresa un Nombre',
                            minlength: 'Caracteres insuficiente'
                        },
                        Apellido: {
                            required: 'Ingresa un Apellido',
                            minlength: 'Caracteres insuficiente'
                        },
                        Direccion: {
                            required: 'Ingresa una Direccion',
                            minlength: 'Caracteres insuficiente'
                        },
                        fono:{
                            required: 'Ingrese un número de celular',
                            minlength: 'Cantidad de digitos insuficiente'
                        },
                        fecha:{
                            required: 'Seleccione una fecha válida',
                            min: 'Fecha no corresponde'
                        },
                        
                        
                    }//messages
                }); //$('#mi-formulario').validate
            }); //function
        
          </script>
           
        </head>
       
        <body>
         
            <div class="espacio" style="height:80px" ></div>
            <div class="test3" style="margin-left: auto;">
                <h3 style="margin-left:auto">Formulario de contacto Pizzas Covid</h3>
                <br>
            <form id="mi-formulario" method="POST">
                {% csrf_token %}
                <label>Correo Electrónico: </label>
                <input type="text" name="email" required placeholder="nombre@dominio.cl" minlength="11">
              
                <label>Nombre: </label>
                <input id="nom" type="text" name="nombre" required  >
              
                <label>Apellido: </label>
                <input type="text" name="apellido" required>
        
                <label>Telefono:</label>
                <input type="text" name="fono" minlength="9">
                  
                <label>Direccion:</label>
                <input type="text" name="direccion" required>
    
                <label>Fecha:</label>
                <input type="date" name="fecha" min="2018-01-01" required="">
                <br> <br><br><br><br><br><br><br><br><br>
                <label>Motivo:</label>
                <select name="motivo" id="id_motivo">
                    <option value="" selected="selected">Selecione una opcion</option>
                    <option value="v">Venta de pizzas</option>
                    <option value="c">Eventos corporativos</option>
                    <option value="a">Alianzas</option>
                    <option value="p">Problemas con tu pedido</option>
                    <option value="q">Comentarios</option>
                </select>
                <br> 
                <textarea name="comentarios" rows="10" cols="40"></textarea>
    
                   
    
                <button> Enviar </button>
              </form>
            </div>
           
        </body>

    <!----------->

</body>
{% endblock %}
