{%block inicio%}
<!DOCTYPE html>

<html lang="es-Cl"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaDominoHutTeleJhons</title>
    {% load static %}
    <link rel="stylesheet" href="{%static'css/estilos.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


{%block navbar%}
<br>
<body background="../static/img/Fondo1.jpg">
    <header>
      <h1  ><img src="../static/img/logo.png" style="width: 70px;" > Pizzas Covid "Para morir de sabor"<img src="../static/img/logo.png" style="width: 70px;" ></h1>
      <br>
        <nav class="navBar navbar-expand-lg navbar-light bg-light">
            <button id="uwu" 
                class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
         
            <div class="collapse navbar-collapse justify-content-between alingn-items-center w-100" style="background:silver "  >

                <ul class="navbar-nav mx-auto nav-tabs text-lg-center text-left" style="background:silver  " >
                    <li class="nav-link" ><a href="index.html"  style="color: black;">Inicio </a></li>
                    <li class="nav-link"><a href="sobre_nosotros.html" style="color: black;">Sobre Nosotros</a></li>
                    <li class="nav-link"><a href="contacto.html" style="color: black;">Contacto</a></li>
                </ul>
            </div>
        </nav>
{% endblock %}

        </header>
        <div>
            <div class="espacio" style="height:100px"></div>

            <div class=test1>
                <article class="col1">	
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background:  silver">      
                              <div class="card-body">
                                <p class="font1">
                                    Somos una pizzeria con gran experiencia en la elaboración de todos y cada uno de nuestros productos, 
                                    priorizamos los alimentos de gran calidad y de origen local que nos permiten crear pizzas de manera artesana 
                                    en horno de piedra, buscamos un sabor autentico en cada una de nuestras pizzas.
                                </p>
                              </div>
                            </div>          
                        </div>
                </article>
            </div>
        <div>
            <img src="../static/img/logo.png" style="width: 300px;" > 
        </div>
        
     
        <div class="espacio" style="height:50px"></div>

            <div class="test2">
            <article class="col2">
                <h5 class="subtitulo">Clientes</h5>
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background:  silver">      
                              <div class="card-body">
                                <p class="card-c">
                                    Toda opinión es muy importante para la elaboración de nuestras pizzas, por ello escuchamos y tendremos en cuenta cada detalle y sugerencia que nos puedas ofrecer. 
                                    
                                </p>
                              </div>
                            </div>          
                        </div>
            </article>
            <article class="col3"> 
                <h5 class="subtitulo" >Ingredientes</h5>  
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background:  silver">      
                              <div class="card-body">
                                <p class="card-contact">
                                    Siempre trabajamos con productos frescos, de calidad y de origen local que nos garantizan ingredientes deliciosos y consistentes en nuestras pizzas. </p>
                              </div>
                            </div>          
                        </div>
            </article>
            <article class="col4">
                <h5 class="subtitulo">Pizzas</h5>
                    
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background: silver">      
                              <div class="card-body">
                                <p class="card-contact">
                                    Buscamos combinaciones diferentes que proporcionen una experiencia nueva en la que el sabor tradicional y artesanal también tengan una alta presencia. 
                                </p>
                              </div>
                            </div>          
                        </div>
            </article>
            <article class="col5">
                <h5 class="subtitulo">Experiencia</h5>
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background: silver">      
                              <div class="card-body">
                                <p class="card-contact">
                                    Con todos los puntos anteriores presentes encontramos la clave para proporcionar un equilibrio en nuestras pizzas que garanticen su sabor. 
                                </p>
                              </div>
                            </div>          
                        </div>
            </article>  
            </div>
        </div>

        <div class="espacio" style="height:415px"></div>

        <div class="prueba3">
            <footer id="footer">
                <div id="inner">
                    <div class="col7">
                        <div class="minititulo">
                            Contacto
                            <div class="espacio" style="height:30px"></div>
                        </div>
                        <div class="miniparrafo">
                            <img src="../static/img/house.png" style="width: 20px;" > Esquina Blanca 501  Maipú Región Metropolitana
                        </div>
                        <div class="miniparrafo">
                            <div class="espacio" style="height:10px"></div>
                            <img src="../static/img/phone-call.png" style="width: 20px;" > +56987654321
                        </div>
                        <div class="miniparrafo">
                            <div class="espacio" style="height:10px"></div>
                            <img src="../static/img/envelope.png" style="width: 20px;" > info@pizzascovids.com.hk
                        </div>
                        <div class="miniparrafo">
                            <div class="espacio" style="height:10px"></div>
                            <img src="../static/img/link.png" style="width: 20px;" > http://www.pizzascovid.com.hk
                        </div>
                    
                    </div>
                    <div class="col8">
                        <div class="minititulo">
                            Horarios
                            <div class="espacio" style="height:30px"></div>
                        </div>
                        <div class="miniparrafo">
                            Lunes 12:00 - 22:00 
                        </div>
                        <div class="miniparrafo">
                           Martes 12:00 - 22:00 
                        </div>
                        <div class="miniparrafo">
                            Miercoles 12:00 - 22:00 
                        </div>
                        <div class="miniparrafo">
                            Jueves 12:00 - 22:00 
                        </div>
                        <div class="miniparrafo">
                            Viernes 12:00 - 02:00 
                        </div>
                        <div class="miniparrafo">
                           Sabados 12:00 - 02:00 
                        </div>
                        <div class="miniparrafo">
                            Domingos Cerrado
                        </div>
                    </div>
                    <div class="col9">
                        <div class="minititulo">
                            Mapa
                        </div>
                        <img src="../static/img/mapa.jpg" style="width: 325px;" > </a> 
                        <div class="espacio" style="height:30px"></div>
                    </div>
                </div>
            </footer> 
        </div>

        <div class="espacio" style="height:50px"></div>
        
</body>
{% endblock %}
</html>