{% extends "base_generic.html" %}
{%load static%}

<br>
<body background="../static/img/Fondo1.jpg">
    {%block content%}
        <div>
            <div class="espacio" style="height:100px"></div>

            <div class=test1>
                <article class="col1">	
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background:  silver">      
                              <div class="card-body">
                                <p class="font1">
                                    Somos una pizzeria con gran experiencia en la elaboración de todos y cada uno de nuestros productos, 
                                    priorizamos los alimentos de gran calidad y de origen local que nos permiten crear pizzas de manera artesana 
                                    en horno de piedra, buscamos un sabor autentico en cada una de nuestras pizzas.
                                </p>
                              </div>
                            </div>          
                        </div>
                </article>
            </div>
        <div>
            <img src="../static/img/logo.png" style="width: 300px;" > 
        </div>
        
     
        <div class="espacio" style="height:50px"></div>

            <div class="test2">
            <article class="col2">
                <h5 class="subtitulo">Clientes</h5>
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background:  silver">      
                              <div class="card-body">
                                <p class="card-c">
                                    Toda opinión es muy importante para la elaboración de nuestras pizzas, por ello escuchamos y tendremos en cuenta cada detalle y sugerencia que nos puedas ofrecer. 
                                    
                                </p>
                              </div>
                            </div>          
                        </div>
            </article>
            <article class="col3"> 
                <h5 class="subtitulo" >Ingredientes</h5>  
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background:  silver">      
                              <div class="card-body">
                                <p class="card-contact">
                                    Siempre trabajamos con productos frescos, de calidad y de origen local que nos garantizan ingredientes deliciosos y consistentes en nuestras pizzas. </p>
                              </div>
                            </div>          
                        </div>
            </article>
            <article class="col4">
                <h5 class="subtitulo">Pizzas</h5>
                    
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background: silver">      
                              <div class="card-body">
                                <p class="card-contact">
                                    Buscamos combinaciones diferentes que proporcionen una experiencia nueva en la que el sabor tradicional y artesanal también tengan una alta presencia. 
                                </p>
                              </div>
                            </div>          
                        </div>
            </article>
            <article class="col5">
                <h5 class="subtitulo">Experiencia</h5>
                    <div class="row">       
                        <div class="col-md">        
                            <div class="card" style="background: silver">      
                              <div class="card-body">
                                <p class="card-contact">
                                    Con todos los puntos anteriores presentes encontramos la clave para proporcionar un equilibrio en nuestras pizzas que garanticen su sabor. 
                                </p>
                              </div>
                            </div>          
                        </div>
            </article>  
            </div>
        </div>


        
</body>
{% endblock %}
